@font-face {
  font-family: "Acme-Regular";
  src: url("../fonts/Acme-Regular.woff") format("woff"),
    url("../fonts/Acme-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}