extends ../includes/template
block main
  .slider-incahuasi
      div: img(src="images/slide1.jpg", alt="Incahuasi")
      div: img(src="images/slide2.jpg", alt="Incahuasi")
      div: img(src="images/slide3.jpg", alt="Incahuasi")
  include ../includes/nosotros
  include ../includes/aire-acondicionado
  include ../includes/calor-calefaccion
  include ../includes/gas-natural
  include ../includes/gases-medicinales
  include ../includes/contactos