.button__movil{
  @include showTo(m);
  width: 100%;
  background: linear-gradient(lighten($blue,15),$blue,darken($blue,15),$blue);
  padding: 10px;
  border: solid 4px $yellow;
  border-radius: 15px;
  text-align: center;
  align-self: flex-end;
  &:hover{
    background: $blue;
  }
}

.form{
  @include edContainer;
}
.content_map{
  font-size: 0;
}
.map{
  width: 100%;
  height: 480px;
}
.ah{
  color: $white;
  opacity: 0.3;
}
.marker{
  display: inline-block;
  padding: 0 4px;
  background: rgba(255, 255, 255, 0.445);
  color: lighten($blue, 10);
  border-radius: 20px;
  box-shadow: 1px 1px 1px $blue;
  &:hover{
    text-decoration: none;
    background: $white;
    color: $blue;
  }
}
.block{
  display: block;
}