/* This boilerplate is based in ITCSS and SMACSS Boilerplate URI: https://gitlab.com/2062nandes/nandes-boilerplate Author: Fernando Averanga Aruquipa Author URI: nandes.ingssistemas@gmail.com Description: This boilerplate is based in ITCSS and SMACSS, based on Edgrid, EDboilerplate */
*,:after,:before { box-sizing: border-box; }

body { margin: 0; font-family: sans-serif; }

img { max-width: 100%; height: auto; }

a { text-decoration: none; color: #fff; }

a:hover { text-decoration: underline; }

a:active,a:focus,a:hover,button:focus { outline: 0; }

main { padding: 0 10px; }

@font-face { font-family: Acme-Regular; src: url(../fonts/Acme-Regular.woff) format("woff"),url(../fonts/Acme-Regular.ttf) format("truetype"); font-weight: 400; font-style: normal; }

/*! Hover.css (http://ianlunn.github.io/Hover/) Version: 2.2.1 Author: Ian Lunn @IanLunn Author URL: http://ianlunn.co.uk/ Github: https://github.com/IanLunn/Hover Hover.css Copyright Ian Lunn 2017. Generated with Sass. */
/* 2D TRANSITIONS */
/* Shutter Out Vertical */
.hvr-shutter-out-vertical { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px transparent; position: relative; background: transparent; transition-property: color; transition-duration: .3s; }

.hvr-shutter-out-vertical:before { content: ""; position: absolute; z-index: -1; top: 0; bottom: 0; left: 0; right: 0; background: #10356c; -webkit-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 50%; transform-origin: 50%; transition-property:-webkit-transform; transition-property:transform; transition-property: transform,-webkit-transform; transition-duration: .3s; transition-timing-function: ease-out; }

.hvr-shutter-out-vertical:active,.hvr-shutter-out-vertical:focus,.hvr-shutter-out-vertical:hover { color: #fff; }

.hvr-shutter-out-vertical:active:before,.hvr-shutter-out-vertical:focus:before,.hvr-shutter-out-vertical:hover:before { -webkit-transform: scaleY(1); transform: scaleY(1); }

/* BORDER TRANSITIONS */
.form,.incahuasi,.main { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1200px; margin-left: auto; margin-right: auto; width: 100%; }

.col25,.col30,.col50,.col70,.col100,.footer__item_1,.footer__item_2,.footer__item_3,.full,.header__block,.header__item,.header__logo,.header__menu_movil,.item { margin: 0; padding-left: .9375em; padding-right: .9375em; }

.item { width: 100%; }

.item.incahuasi { padding-left: 0; padding-right: 0; }

.body { color: #4a4a4a; background: linear-gradient(#9a9a9a,transparent 380%),url(../images/pattern.png) repeat 0 0; }

@media screen and (min-width:680px) { .body { padding-top: 220px; } }

@media screen and (max-width:679px) { .body { padding-top: 170px; } }

.l-block { margin-bottom: 1rem; }

@media screen and (min-width:840px) { .l-block { margin-bottom: 1.5rem; } }

.center { text-align: center; }

@-webkit-keyframes a { 0% { background-position: 0 60%,0 50%; }
  to { background-position: 0 60%,100% 50%; } }

@keyframes a { 0% { background-position: 0 60%,0 50%; }
  to { background-position: 0 60%,100% 50%; } }

.header { position: absolute; top: 0; left: 0; width: 100%; z-index: 10; background-color: #f7f7f7; background-image: url(../images/fondo-header-white.svg),radial-gradient(200px 500px at center,#10356c 0,transparent 50%,transparent); background-size: 100%,50% 100%; background-position: 0 60%,0 100%; -webkit-animation: a 5s linear infinite; animation: a 5s linear infinite; }

.header nav:first-child { height: 165px; }

.header polygon { fill: red; }

.header__top { display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; display: flex; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; padding: 0 15px; height: 160px; }

.header__social { padding-left: 0; margin: 0; }

@media screen and (min-width:840px) { .header__social { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } }

@media screen and (max-width:679px) { .header__social { display: none; } }

.header__inicio { list-style: none; font-family: Acme-Regular,sans-serif; padding-left: 0; margin: 0; }

@media screen and (max-width:679px) { .header__inicio { display: none; } }

@media screen and (min-width:680px) { .header__inicio { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } }

.header:after { content: ""; width: 100%; height: 40px; position: absolute; bottom: -5px; left: 0; z-index: -1; border-bottom: 15px dotted #10356c; }

@media screen and (max-width:679px) { .header:after { display: none; } }

.header__main { width: 100%; height: 60px; background: linear-gradient(#1a56af,#10356c,#061429,#10356c); box-shadow: 0 -2px 3px 0 #5b5b5b; border-top: 1px solid #10356c; }

@media screen and (max-width:679px) { .header__main { display: none; } }

.header__main ul { list-style: none; padding: 0; }

.header__main .incahuasi { height: 100%; }

.header__logo { position: relative; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (min-width:680px) { .header__logo { width: 30%; } }

@media screen and (min-width:840px) { .header__logo { width: 40%; } }

.header__block { width: 100%; display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; display: flex; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; }

@media screen and (min-width:680px) { .header__block { width: 35%; } }

@media screen and (min-width:840px) { .header__block { width: 30%; } }

@media screen and (max-width:679px) { .header__block { display: none; } }

.header__item { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; height: 100%; padding: 0; border-left: 1px solid #1a56af; border-right: 1px solid #1a56af; }

@media screen and (min-width:680px) { .header__item { width: 50%; } }

@media screen and (max-width:679px) { .header__item { margin-bottom: 1px; } }

.header__link { display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: flex; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; color: #fff; font-size: 1.3rem; font-weight: 600; width: 100%; height: 100%; text-transform: uppercase; }

.header__link span { display: block; width: 100%; font-size: 1rem; text-align: center; }

@media screen and (min-width:680px) and (max-width:839px) { .header__link span { font-size: .6rem; } }

.header__link:hover { color: #fbee02; text-decoration: none; }

.header__menu_movil { width: 95%; position: absolute; top: 170px; left: 0; background: linear-gradient(rgba(253,243,51,.5),rgba(200,190,2,.8)); border-bottom-right-radius: 10px; box-shadow: 0 0 5px 0 #000; -webkit-transform: translateX(-100%); transform: translateX(-100%); transition:-webkit-transform .5s; transition:transform .5s; transition: transform .5s,-webkit-transform .5s; }

@media screen and (min-width:680px) { .header__menu_movil { display: none; } }

.header__menu_movil--toggle { -webkit-transform: translateX(0); transform: translateX(0); }

.header__bl,.header__i { list-style: none; padding-left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.header__link { background: linear-gradient(#1a56af,#10356c,#061429,#10356c); padding: 20px 5px; }

.footer { position: relative; background: linear-gradient(#fbee02,#d3c802,#aaa101); padding-bottom: 20px; margin-top: 20px; }

.footer:before { content: ""; width: 100%; position: absolute; top: -5px; left: 0; border-bottom: 15px dotted #fbee02; z-index: 40; }

.footer__title { color: #fbee02; font-family: Acme-Regular,sans-serif; text-shadow: -1px 1px 5px #174b98; text-align: center; padding: 0 10px; }

.footer__text { color: #fff; text-align: center; }

.footer__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; margin-top: 20px; }

.footer__item_1 { width: 100%; }

@media screen and (min-width:680px) { .footer__item_1 { width: 50%; } }

@media screen and (min-width:840px) { .footer__item_1 { width: 25%; } }

.footer__item_2 { width: 100%; }

@media screen and (min-width:680px) { .footer__item_2 { width: 50%; } }

@media screen and (min-width:840px) { .footer__item_2 { width: 45%; } }

.footer__item_3 { width: 100%; }

@media screen and (min-width:680px) { .footer__item_3 { width: 50%; } }

@media screen and (min-width:840px) { .footer__item_3 { width: 30%; } }

.footer__itemcontent { width: 100%; padding: 0 20px; background: linear-gradient(#071932,#0d2a56,#174b98); border-radius: 10px; border: 5px ridge #fff; }

.footer__itemcontent p { text-align: center; }

.footer__itemcontent p img { width: 50%; }

.main { width: 100%; margin-top: 20px; background: #fff; border: 7px ridge #134082; border-radius: 10px; }

.main__title { display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: flex; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; width: 100%; font-family: Acme-Regular,sans-serif; border-bottom: 3.5px solid #606060; -o-border-image: linear-gradient(90deg,transparent,#c8be02 50%,#fbee02 0,#c8be02 50%,transparent); border-image: linear-gradient(90deg,transparent,#c8be02 50%,#fbee02 0,#c8be02 50%,transparent); border-image-slice: 1; text-shadow: 0 1px 1px #fbee02; color: #10356c; text-transform: uppercase; padding: 15px 0 0; text-align: center; margin-top: 0; margin-bottom: 15px; font-size: 1.7rem; transition: all .5s; }

.main__title_active:before,.main__title_no-active:before { content: ""; position: relative; border-top: 10px solid #10356c; border-bottom: 0 solid transparent; border-right: 8px solid transparent; border-left: 8px solid transparent; font-size: 0; margin-right: 5px; transition:-webkit-transform .5s; transition:transform .5s; transition: transform .5s,-webkit-transform .5s; }

.main__title_no-active:before { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }

.main__subtitle { color: #fbee02; text-shadow: 2px 0 1px #10356c; background: linear-gradient(90deg,#10356c,transparent); padding: 10px; font-family: Acme-Regular,sans-serif; font-size: 1.4rem; margin-top: 0; margin-bottom: 0; }

.main li,.main p { font-size: 1.1rem; margin-top: .5rem; line-height: 1.2; }

.main li { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: silver; padding-bottom: 10px; padding-top: 10px; }

.main img { margin-bottom: 10px; }

a:hover { text-decoration: none; }

a:hover .main__title { background: #fef77f; color: #174b98; }

.menu__ul { list-style: none; padding-left: 15px; }

.menu__item { padding: 5px; }

.menu__link { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; padding-left: 30px; height: 30px; }

.menu__link:before { content: ""; position: absolute; top: 0; left: 0; background: url(../images/icon-incahuasi.png) no-repeat; width: 30px; height: 30px; }

.logo { position: absolute; width: 300px; border: 7px ridge #fbee02; border-radius: 13px; height: 125px; left: 50%; -webkit-transform: translate(-50%); transform: translate(-50%); top: 15px; background: #fff; transition: all .5s; }

@media screen and (min-width:680px) and (max-width:839px) { .logo { left: 0; -webkit-transform: translate(5%); transform: translate(5%); } }

@media screen and (max-width:679px) { .logo { -webkit-transform: translate(-50%) scale(.75); transform: translate(-50%) scale(.75); -webkit-transform-origin: top; transform-origin: top; } }

.logo__item { width: 100%; height: 100%; position: relative; -webkit-transform: scale(.65) translateY(-10px) translateX(-42px); transform: scale(.65) translateY(-10px) translateX(-42px); -webkit-transform-origin: center; transform-origin: center; }

.logo img { position: absolute; }

.logo__0 { -webkit-animation: d 10s infinite; animation: d 10s infinite; }

.logo__1 { left: 109px; }

.logo__1,.logo__2 { -webkit-animation: b 10s infinite; animation: b 10s infinite; }

.logo__2 { left: 142px; }

.logo__3 { left: 202px; }

.logo__3,.logo__4 { -webkit-animation: b 10s infinite; animation: b 10s infinite; }

.logo__4 { left: 256px; }

.logo__5 { left: 107px; }

.logo__5,.logo__6 { top: 65px; -webkit-animation: c 10s infinite; animation: c 10s infinite; }

.logo__6 { left: 172px; }

.logo__7 { left: 228px; }

.logo__7,.logo__8 { top: 65px; -webkit-animation: c 10s infinite; animation: c 10s infinite; }

.logo__8 { left: 292px; }

.logo__9 { top: 65px; left: 337px; -webkit-animation: c 10s infinite; animation: c 10s infinite; }

/** .iso{ animation: iso 10s infinite; } .uno{ } .dos{ animation: uno 10s infinite; } .tres{ animation: uno 10s infinite; } .cinco{ animation: uno 10s infinite; } .seis{ animation: dos 10s infinite; } .siete{ animation: dos 10s infinite; } .ocho{ animation: dos 10s infinite; } .nueve{ animation: dos 10s infinite; } .diez{ top: 65px; left: 337px; animation: dos 10s infinite; } */
@-webkit-keyframes b { 0% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
  25% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
@keyframes b { 0% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
  25% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }

@-webkit-keyframes c { 0% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
  4% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
  29% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  50% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }

@keyframes c { 0% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
  4% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); }
  29% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  50% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }

@-webkit-keyframes d { 0% { -webkit-transform: scale(1); transform: scale(1); }
  25% { -webkit-transform: scale(1.1); transform: scale(1.1); }
  50% { -webkit-transform: scale(1); transform: scale(1); }
  to { -webkit-transform: scale(1.1); transform: scale(1.1); } }

@keyframes d { 0% { -webkit-transform: scale(1); transform: scale(1); }
  25% { -webkit-transform: scale(1.1); transform: scale(1.1); }
  50% { -webkit-transform: scale(1); transform: scale(1); }
  to { -webkit-transform: scale(1.1); transform: scale(1.1); } }

.ribbon-level { width: 100%; position: relative; margin: 1em; line-height: 1.7em; text-align: center; color: #10356c; margin-top: .95rem; }

.ribbon-level:after,.ribbon-level:before { content: " "; display: block; position: absolute; z-index: 1; top: 50%; right: -.6em; width: 0; height: 0; margin-top: -.7em; border: .7em solid #afa601; border-right: .3em solid transparent; border-left-width: .7em; }

.ribbon-level:before { left: -.6em; border-left: .3em solid transparent; border-right: .7em solid #afa601; }

.ribbon-level div { position: relative; z-index: 5; background: linear-gradient(#fef44c,#c8be02); }

.ribbon-level>div { width: 100%; height: 32px; overflow: hidden; }

.ribbon-level__span1,.ribbon-level__span2,.ribbon-level__span3,.ribbon-level__span4 { position: absolute; top: 50%; right: 0; -webkit-transform: translateX(100%) translateY(-50%); transform: translateX(100%) translateY(-50%); width: 700px; opacity: 1; -webkit-animation: e 24s infinite linear; animation: e 24s infinite linear; }

.ribbon-level__span1 { -webkit-animation-delay: 0s; animation-delay: 0s; }

.ribbon-level__span2 { -webkit-animation-delay: 6s; animation-delay: 6s; }

.ribbon-level__span3 { -webkit-animation-delay: 12s; animation-delay: 12s; }

.ribbon-level__span4 { -webkit-animation-delay: 18s; animation-delay: 18s; }

@-webkit-keyframes e { 0% { -webkit-transform: translateX(100%) translateY(-50%); transform: translateX(100%) translateY(-50%);
    opacity: 1; }
  95% { opacity: 1; }
  to { -webkit-transform: translateX(-160%) translateY(-50%); transform: translateX(-160%) translateY(-50%);
    opacity: 0; } }

@keyframes e { 0% { -webkit-transform: translateX(100%) translateY(-50%); transform: translateX(100%) translateY(-50%);
    opacity: 1; }
  95% { opacity: 1; }
  to { -webkit-transform: translateX(-160%) translateY(-50%); transform: translateX(-160%) translateY(-50%);
    opacity: 0; } }

.topbar__item { margin-left: 10px; border-radius: 7px; background: #f2f2f2; box-shadow: 2px -2px 10px -4px #000; border: 3px #cad2e7; border-style: outset; }

.topbar__link { display: block; color: #10356c; padding: 5px 10px; }

.topbar__link:hover { background: #dfdfdf; text-decoration: none; }

.social { list-style: none; padding-left: 0; }

.social__icon { margin-right: 10px; border-radius: 7px; background: #f2f2f2; box-shadow: 2px -2px 10px -4px #000; border: 3px #cad2e7; border-style: outset; }

.social a { color: #10356c; }

.social a:hover { color: #fff; text-decoration: none; }

.social a:hover .icon-facebook { background: #3358b3; }

.social a:hover .icon-youtube { background: #d61111; }

.social a:hover .icon-twitter { background: #09f; }

.social i { display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; display: flex; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; width: 30px; height: 30px; transition: background .6s; }

.header-top .header__top,.header-top nav:first-child { transition: all .9s; }

.header-notop { position: fixed; }

.header-notop nav:first-child { height: 0; }

.header-notop .header__top { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }

@media screen and (max-width:679px) { .header-notop .header__top { height: 50px; } }

@media screen and (min-width:680px) { .header-notop .header__top { height: 103px; } }

.header-notop .header__menu_movil { top: 53px; }

.header-notop .ribbon-level { opacity: 0; }

.header-notop .logo { top: 0; left: 50%; -webkit-transform: translateX(-50%) scale(.75); transform: translateX(-50%) scale(.75); }

@media screen and (max-width:679px) { .header-notop .logo { display: none; } }

.header-notop .header__inicio { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

@media screen and (max-width:839px) { .header-notop .header__inicio,.header-notop .header__social { display: none; } }

.col50 { width: 100%; }

@media screen and (min-width:680px) { .col50 { width: 50%; } }

.col30 { width: 100%; }

@media screen and (min-width:680px) { .col30 { width: 50%; } }

@media screen and (min-width:840px) { .col30 { width: 30%; } }

.col25 { width: 100%; }

@media screen and (min-width:680px) { .col25 { width: 50%; } }

@media screen and (min-width:840px) { .col25 { width: 25%; } }

.col70 { width: 100%; }

@media screen and (min-width:680px) { .col70 { width: 50%; } }

@media screen and (min-width:840px) { .col70 { width: 70%; } }

.col100,.full { width: 100%; }

.full { padding: 0; }

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

.form__item { width: 100%; }

.form__label { width: 100%; color: #10356c; }

.form__input { width: 100%; background: #efefef; color: #000; border-radius: 5px; padding: 8px; margin-bottom: 5px; }

.form__buttons { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.form__button { width: 40%; font-family: Copperplate,Copperplate Gothic Light,fantasy; font-size: 1.3rem; line-height: 1.1; padding: 10px; margin-left: 20px; margin-bottom: 15px; z-index: 1; will-change: transform; transition: all .3s ease-out; }

.form__button:hover { transition: all .2s ease-out; -webkit-transform: translate3d(-4px,4px,0); transform: translate3d(-4px,4px,0); }

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }

.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY { -webkit-animation-duration: .75s; animation-duration: .75s; }

@-webkit-keyframes f { 20% { -webkit-transform: scale3d(.9,.9,.9);
    transform: scale3d(.9,.9,.9); }
  50%,55% { opacity: 1;
    -webkit-transform: scale3d(1.1,1.1,1.1);
    transform: scale3d(1.1,1.1,1.1); }
  to { opacity: 0;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3); } }

@keyframes f { 20% { -webkit-transform: scale3d(.9,.9,.9);
    transform: scale3d(.9,.9,.9); }
  50%,55% { opacity: 1;
    -webkit-transform: scale3d(1.1,1.1,1.1);
    transform: scale3d(1.1,1.1,1.1); }
  to { opacity: 0;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3); } }

.bounceOut { -webkit-animation-name: f; animation-name: f; }

@-webkit-keyframes g { 0% { -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% { -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% { -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1; }
  80% { -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg); }
  to { -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes g { 0% { -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% { -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% { -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1; }
  80% { -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg); }
  to { -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

.flipInY { -webkit-backface-visibility: visible !important; backface-visibility: visible !important; -webkit-animation-name: g; animation-name: g; }

@-webkit-keyframes h { 0% { -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% { -webkit-transform: perspective(400px) rotateY(15deg);
    transform: perspective(400px) rotateY(15deg);
    opacity: 1; }
  to { -webkit-transform: perspective(400px) rotateY(-90deg);
    transform: perspective(400px) rotateY(-90deg);
    opacity: 0; } }

@keyframes h { 0% { -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% { -webkit-transform: perspective(400px) rotateY(15deg);
    transform: perspective(400px) rotateY(15deg);
    opacity: 1; }
  to { -webkit-transform: perspective(400px) rotateY(-90deg);
    transform: perspective(400px) rotateY(-90deg);
    opacity: 0; } }

.flipOutY { -webkit-backface-visibility: visible !important; backface-visibility: visible !important; -webkit-animation-name: h; animation-name: h; }

.tns-outer { position: relative; overflow: hidden; box-shadow: 1px 1px 0 5px #10356c; padding: 0 !important; }

.tns-outer [hidden] { display: none !important; }

.tns-outer [aria-controls],.tns-outer [data-action] { cursor: pointer; }

.tns-outer.ms-touch { overflow-x: scroll; overflow-y: hidden; -ms-overflow-style: none; -ms-scroll-chaining: none; -ms-scroll-snap-type: mandatory; -ms-scroll-snap-points-x: snapInterval(0,100%); }

.tns-slider { transition: all 0s; }

.tns-slider>.tns-item { box-sizing: border-box; }

.tns-horizontal.tns-subpixel { white-space: nowrap; }

.tns-horizontal.tns-subpixel>.tns-item { display: inline-block; vertical-align: top; white-space: normal; }

.tns-horizontal.tns-no-subpixel:after { content: ""; display: table; clear: both; }

.tns-horizontal.tns-no-subpixel>.tns-item { float: left; margin-right: -100%; }

.tns-gallery,.tns-no-calc { position: relative; left: 0; }

.tns-gallery>.tns-item { position: absolute; left: -100%; transition:opacity 0s,-webkit-transform 0s; transition:transform 0s,opacity 0s; transition: transform 0s,opacity 0s,-webkit-transform 0s; }

.tns-gallery>.tns-item img { width: 100%; max-height: 500px; -o-object-fit: cover; object-fit: cover; display: block; }

.tns-lazy-img { transition: opacity .6s; opacity: .6; }

.tns-lazy-img.loaded { opacity: 1; }

.tns-ah { transition: height 0s; }

.tns-ovh { overflow: hidden; }

.tns-hdx { overflow-x: hidden; }

.tns-hdy { overflow-y: hidden; }

.tns-visually-hidden { position: absolute; left: -10000em; }

.tns-transparent { opacity: 0; visibility: hidden; }

.tns-fadeIn { opacity: 1; filter: alpha(opacity=100); z-index: 0; }

.tns-fadeOut,.tns-normal { opacity: 0; filter: alpha(opacity=0); z-index: -1; }

.tns-controls,.tns-nav,[data-action] { position: absolute; z-index: 1; }

.tns-nav { bottom: 1%; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

[data-action] { bottom: 1%; left: 1%; width: 35px; height: 35px; line-height: 0; background: rgba(16,53,108,.2); border: none; }

[data-action]:hover { background: rgba(251,238,2,.4); }

.tns-controls { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

[data-controls] { background: transparent; color: #10356c; text-shadow: 2px 0 0 #989898; font-size: 3rem; border: none; -webkit-transform: scaleY(2.5); transform: scaleY(2.5); }

[data-controls]:hover { color: #fbee02; text-shadow: 2px 0 0 #10356c; }

[data-nav] { border-radius: 50%; padding: 0; margin: 0 3px; width: 13px; height: 13px; background: rgba(16,53,108,.4); }

[data-nav]:hover { background: #10356c; }

[data-nav][aria-selected=true] { background: #fbee02; }

@font-face { font-family: untitled-font-1; src: url(../fonts/untitled-font-1.eot); src: url(../fonts/untitled-font-1.eot?#iefix) format("embedded-opentype"),url(../fonts/untitled-font-1.woff) format("woff"),url(../fonts/untitled-font-1.ttf) format("truetype"),url(../fonts/untitled-font-1.svg#untitled-font-1) format("svg"); font-weight: 400; font-style: normal; }

[data-icon]:before { content: attr(data-icon); }

[class*=" icon-"]:before,[class^=icon-]:before,[data-icon]:before { font-family: untitled-font-1 !important; font-style: normal !important; font-weight: 400 !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before { content: "\66"; }

.icon-twitter:before { content: "\67"; }

.icon-youtube:before { content: "\61"; }

.icon-marker:before { content: "\62"; }

.whatsapp { position: relative; padding-left: 35px; padding-top: 7px; padding-bottom: 7px; }

.whatsapp:after { content: ""; position: absolute; width: 30px; height: 30px; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: url(../images/whatsapp.png); }

.button__movil { width: 100%; background: linear-gradient(#1a56af,#10356c,#061429,#10356c); padding: 10px; border: 4px solid #fbee02; border-radius: 15px; text-align: center; -ms-flex-item-align: end; align-self: flex-end; }

@media screen and (min-width:680px) { .button__movil { display: none; } }

.button__movil:hover { background: #10356c; }

.content_map { font-size: 0; }

.map { width: 100%; height: 480px; }

.ah { color: #fff; opacity: .3; }

.marker { display: inline-block; padding: 0 4px; background: hsla(0,0%,100%,.445); color: #174b98; border-radius: 20px; box-shadow: 1px 1px 1px #10356c; }

.marker:hover { text-decoration: none; background: #fff; color: #10356c; }

.block { display: block; }

/*# sourceMappingURL=styles.css.map */
