<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <head>
    <title>INCA HUASI - Gas Natural</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="designer" content="Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com">
    <meta name="description" content="">
    <meta property="og:title" content="INCA HUASI - Gas Natural">
    <meta property="og:description" content="INCA HUASI - Gas Natural">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="css/styles.css?v1.0.1">
  </head>
  <body class="body">
    <div id="app">
      <header class="header" id="header">
        <nav>
          <div class="header__top incahuasi">
            <ul class="social header__social">
              <li class="social__icon"><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
              <li class="social__icon"><a href="#" target="_blank"><i class="icon-youtube"></i></a></li>
              <li class="social__icon"><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
            </ul><a href="#">
              <div class="logo">
                <div class="logo__item"><img class="logo__0" src="images/isologo.png" alt=""><img class="logo__1" src="images/I.png" alt=""><img class="logo__2" src="images/N.png" alt=""><img class="logo__3" src="images/C.png" alt=""><img class="logo__4" src="images/A.png" alt=""><img class="logo__5" src="images/H.png" alt=""><img class="logo__6" src="images/U.png" alt=""><img class="logo__7" src="images/A.png" alt=""><img class="logo__8" src="images/S.png" alt=""><img class="logo__9" src="images/I.png" alt=""></div>
              </div></a>
            <ul class="header__inicio topbar">
              <li class="topbar__item"><a class="topbar__link" v-on:click="menuinicio[1].active = false; toggle = false" :href="'#' + menuinicio[0].href" v-text="menuinicio[0].title"></a></li>
              <li class="topbar__item"><a class="topbar__link" v-on:click="menuinicio[1].active = true; toggle = false" :href="'#' + menuinicio[1].href" v-text="menuinicio[1].title"></a></li>
              <li class="topbar__item"><a class="topbar__link" v-on:click="menuinicio[1].active = false; toggle = false" :href="'#' + menuinicio[2].href" v-text="menuinicio[2].title"></a></li>
            </ul><a class="button__movil" href="javascript:void(0);" @click="toggleMenu()">MENÚ</a>
          </div>
        </nav>
        <nav class="header__main">
          <div class="incahuasi">
            <ul class="header__block">
              <li class="header__item"><a class="header__link hvr-shutter-out-vertical" v-on:click="menuinicio[1].active = false;" data-scroll :href="'#' + mainmenu[0].href">Aire <span>Acondicionado</span></a></li>
              <li class="header__item"><a class="header__link hvr-shutter-out-vertical" v-on:click="menuinicio[1].active = false;" data-scroll :href="'#' + mainmenu[1].href">Calor <span>Calefaccion</span></a></li>
            </ul>
            <div class="header__logo">
              <h2 class="ribbon-level"> 
                <div><span class="ribbon-level__span1">CLIMATIZACIÓN y GAS NATURAL</span><span class="ribbon-level__span2">CLIMATIZACIÓN y GAS NATURAL</span><span class="ribbon-level__span3">CLIMATIZACIÓN y GAS NATURAL</span><span class="ribbon-level__span4">CLIMATIZACIÓN y GAS NATURAL</span></div>
              </h2>
            </div>
            <ul class="header__block">
              <li class="header__item"><a class="header__link hvr-shutter-out-vertical" v-on:click="menuinicio[1].active = false;" data-scroll :href="'#' + mainmenu[2].href">Gas <span>Natural</span></a></li>
              <li class="header__item"><a class="header__link hvr-shutter-out-vertical" v-on:click="menuinicio[1].active = false;" data-scroll :href="'#' + mainmenu[3].href">Gases <span>Medicinales</span></a></li>
            </ul>
          </div>
        </nav>
        <nav class="header__menu_movil" :class="toggle ? 'header__menu_movil--toggle' : ''">
          <ul class="header__i topbar">
            <li class="topbar__item"><a class="topbar__link" v-on:click="menuinicio[1].active = false; toggle = false" :href="'#' + menuinicio[0].href" v-text="menuinicio[0].title"></a></li>
            <li class="topbar__item"><a class="topbar__link" v-on:click="menuinicio[1].active = true; toggle = false" :href="'#' + menuinicio[1].href" v-text="menuinicio[1].title"></a></li>
            <li class="topbar__item"><a class="topbar__link" v-on:click="menuinicio[1].active = false; toggle = false" :href="'#' + menuinicio[2].href" v-text="menuinicio[2].title">  </a></li>
          </ul>
          <ul class="header__bl">
            <li class="header__item" v-for="item in mainmenu"><a class="header__link hvr-shutter-out-vertical" v-on:click="menuinicio[1].active = false;toggle = false" data-scroll :href="'#' + item.href" v-text="item.title"> </a></li>
          </ul>
        </nav>
      </header>
      <div class="slider-incahuasi">
        <div><img src="images/slide1.jpg" alt="Incahuasi"></div>
        <div><img src="images/slide2.jpg" alt="Incahuasi"></div>
        <div><img src="images/slide3.jpg" alt="Incahuasi"></div>
      </div><span :id="menuinicio[1].href"></span>
      <main class="incahuasi" v-show="menuinicio[1].active" transition="expand">
        <div class="main"><a class="full" v-on:click="mainMenu()" href="#nosotros">
            <h2 class="main__title" v-text="menuinicio[1].title" :class="menuinicio[1].active ? 'main__title_active' : 'main__title_no-active'"></h2></a>
          <div class="col100 incahuasi">
            <div class="col50">
              <h3 class="main__subtitle">La empresa</h3>
              <p>La empresa cumple con diferentes funciones  específicas, las cuales se mencionan a continuación:</p>
              <ul>
                <li>Prestar  asesoría en el diseño, instalación y mantenimiento de las redes de gas natural,  calefacción y aire acondicionado así como también proyectar los planes de  nuevas instalaciones y/o expansión para garantizar el buen crecimiento y funcionamiento  de dichas redes.</li>
                <li>Velar  por el buen funcionamiento de las instalaciones, de manera que se resuelvan  eficientemente los problemas operativos y de emergencia.</li>
                <li>Realizar  la aprobación del Proyecto en Y.P.F.B. para ser autorizados a conectar la instalación  a la interconexión a la red principal de cualquier dependencia interna que  tenga el proyecto.</li>
                <li>Producir  la documentación necesaria para ser presentada a Y.P.F.B. siguiendo las normas  que establece esta institución, así como también asesorar en la presentación de  estos documentos.</li>
                <li>Realizar  la instalación de los diferentes proyectos, de acuerdo a los contratos firmados  con las personas o empresas que adquieren los servicios.  </li>
              </ul>
            </div>
            <div class="col50">
              <h3 class="main__subtitle">Historia</h3>
              <p>En el año 2004 se crea la empresa Inca Huasi, la cual busca ofrecer servicios de ingeniería en materia térmica, dando paso a la idea de dedicarse al área de gas que permitió visualizar nuevos horizontes para la futura empresa. Con una buena aceptación en el campo empresarial debido al los trabajos realizados es como la empresa fue desarrollándose a cargo del gerente general, el ingeniero Sigfrido Noro Gómez.</p>
              <h3 class="main__subtitle">Misión</h3>
              <p>Aprovechar la tecnología y oportunidad de mercado para satisfacer en forma creativa y competitiva, las necesidades de nuestros clientes, en relación a las instalaciones de Climatización, Gas Natural y GLP, aplicando procedimientos técnicos e innovando, para contribuir al mejoramiento de la calidad de vida.</p>
              <h3 class="main__subtitle">Visión</h3>
              <p>Inca Huasi, mantendrá su prestigio como empresa en instalaciones de gas natural, y GLP, a nivel industrial y otros servicios, que llegaran a satisfacer las expectativas de nuestros clientes.</p>
            </div>
          </div>
        </div>
      </main>
      <main class="incahuasi">
        <div class="main">
          <h2 class="main__title" :id="mainmenu[0].href"> <span v-text="mainmenu[0].title"></span>, ventilación y tratamiento de aire</h2>
          <div class="col100">
            <p>Nos dedicamos con amplia trayectoria y profesionalismo adquirido a la instalación y soluciones en equipos de aire acondicionado respaldados por un equipo técnico altamente especializado. Contamos para las instalaciones de aire acondicionado con diversos equipos de diferentes diseños, capacidades y marcas que usted podrá elegir según sus necesidades y gustos.</p>
          </div>
          <div class="col50">
            <h3 class="main__subtitle">Sistemas de Aire Acondicionado:</h3>
            <p>
               Central e individual, Sala de servidores.<br></p>
          </div>
          <div class="col50">
            <h3 class="main__subtitle">Sistemas de ventilación y extracción de aire: </h3>
            <p>
               Renovación de Aire en sótanos (Parqueos).</p>
          </div>
          <div class="col100">
            <p class="center">Permiten crear un clima artificial en el interior de un edificio. De acuerdo a las necesidades, en ciertos momentos se deberá producir calor y en otros frío, para generar un ámbito de temperatura agradable.</p>
          </div>
          <div class="col50"><img src="images/aire-acondicionado01.jpg" :alt="mainmenu[0].title">
            <h3 class="main__subtitle">Obras en área de aire acondicionado:</h3>
            <p>MINISTERIO DE SALUD.- Sistema de Aire Acondicionado y ventilación para el edificio de vacunas, ubicado en la plaza Bolivia. Trabajo ejecutado para la empresa PORTICO LTDA</p>
          </div>
          <div class="col50">
            <h3 class="main__subtitle">Obras en área de tratamiento de aire:</h3>
            <ul>
              <li> <b>LA CASTELLA. </b>Salones de eventos, Sistema de renovación de Aire centralizado - Cota Cota - La paz.</li>
              <li> <b>PIZZERIA ELIS - MEGA CENTER. </b>Sistema de extracción cocinas; Fabricación e instalación de campanas en acero inoxidable, instalación de extractores, trampas de  grasa y filtros de grasa.</li>
              <li>PIZZERIA ELIS - HIPER MAXI. Sistema de extracción cocinas; Fabricación e instalación de campanas en acero inoxidable, instalación de extractores, trampas de  grasa y filtros de grasa.</li>
              <li>PIZZERIA ELIS - MULTICINE. Sistema de extracción cocinas; Fabricación e instalación de campanas en acero inoxidable, instalación de extractores, trampas de  grasa y filtros de grasa</li>
            </ul>
          </div>
        </div>
      </main>
      <main class="incahuasi">
        <div class="main">
          <h2 class="main__title" :id="mainmenu[1].href"><span v-text="mainmenu[1].title"></span>, climatización y agua caliente</h2>
          <div class="col100">
            <p>La calefacción se concentra básicamente en calentar el aire de los ambientes.</p>
            <h3 class="main__subtitle">SISTEMAS DE CALEFACCIÓN</h3>
          </div>
          <div class="col100 incahuasi l-block">
            <ul class="col25">
              <li>Sistemas de caldera con radiadores de agua y vapor.</li>
              <li>Sistema por suelo radiante.</li>
            </ul>
            <ul class="col25">
              <li>Calefactores a gas (sistema de tiro balanceado)</li>
              <li>Emisores termoeléctricos.</li>
            </ul>
            <ul class="col25">
              <li>Furnaces  (generadores de aire caliente)</li>
              <li>Tubo radiante</li>
            </ul>
            <ul class="col25">
              <li>Sistema con bomba de calor</li>
            </ul>
          </div>
          <div class="col100">
            <p class="center">El sistema más usado es el de caldera con radiadores de agua.</p>
          </div>
          <div class="col50 l-block">
            <h3 class="main__subtitle">SISTEMAS DE CALEFACCIÓN CENTRAL</h3>
            <div class="incahuasi">
              <ul class="col50">
                <li>Losas Radiantes</li>
                <li>Fan Coil</li>
                <li>Gas Furnaces</li>
              </ul>
              <ul class="col50"> 
                <li>Electric Furnaces</li>
                <li>Radiadores Agua Caliente</li>
              </ul>
            </div>
          </div>
          <div class="col50">
            <h3 class="main__subtitle">SISTEMAS DE CALEFACCIÓN DIVIDIDA</h3>
            <div class="incahuasi">
              <ul class="col100">
                <li>Tiro Balanceado.</li>
                <li>TB.</li>
                <li>TBU.</li>
              </ul>
            </div>
          </div>
          <div class="col50">
            <h3 class="main__subtitle">Obras en área de calefacción:</h3><img src="images/calefaccion01.jpg" :alt="mainmenu[1].title">
          </div>
          <div class="col50">
            <h3 class="main__subtitle">Obras en área de climatización de piscinas:</h3>
            <p> <b>COMPLEJO DEPORTIVO "OLIMPO", </b><br>Proyecto y ejecución. De la Sra. Yolanda Chavarría, Climatización de piscina e hidromasaje, fabricación e instalación de equipos de sauna vapor y sauna seco, Generación de Agua Caliente Sanitaria. e instalación de Gas Natural.</p>
          </div>
        </div>
      </main>
      <main class="incahuasi">
        <div class="main">
          <h2 class="main__title" v-text="mainmenu[2].title" :id="mainmenu[2].href"></h2>
          <div class="col50">
            <ul>
              <li>Proyectos e instalaciones de Gas Natural categoría INDUSTRIAL, con autorización de la Agencia Nacional de Hidrocarburos y YPFB N° 0024/2017</li>
              <li>Proyecto de instalaciones de gas GLP, instalaciones de tanques estacionarios e instalaciones internas.</li>
              <li>Climatización de piscinas: Solar, Gas y diesel, Paneles solares y calderos a gas para piscinas.</li>
              <li>Fabricacion e instalacion de Equipos sauna seco y vapor a gas GLP, Gas Natural y elèctricos.</li>
            </ul>
          </div>
          <div class="col50"><img src="images/gas-natural01.jpg" :alt="mainmenu[2].href"></div>
          <div class="col100 incahuasi">
            <ul class="col50">
              <li><b>EDIFICIO "CONDOMINIO LA JOYA".</b>  Proyecto  y ejecución de Acometida,  Conducto Montante, Instalación interna, 4 Bloques, Edificio de 8 niveles y 78  departamentos, Dirección: Plaza Lira, Sopocachi.</li>
              <li><b>EDIFICIO "YOCAPRI III". </b>Proyecto  y ejecución de Acometida, Conducto Montante,  Instalación interna, Edificio de 21 niveles y 63 departamentos, Dirección:  Zona Central.</li>
              <li><b>EDIFICIO "GLORIA". </b>Proyecto  y ejecución de Acometida, Conducto Montante,  <br>        Instalación interna, Edificio de 12 niveles y 24 departamentos, Dirección: Av.  Arce. SAN JORGE.</li>
              <li><b>EDIFICIO "BELEN D BELEN".</b>  Proyecto  y ejecución de Acometida,  Conducto Montante, red interior de gas natural y agua caliente,  de 16 niveles y 56 departamentos Propietario  Responsable; ING. MARCELO GARDEAZABAL Dirección: CALACOTO.</li>
              <li><b>EDIFICIO "HERMES".</b> Proyecto  y ejecución de Acometida, Conducto Montante,  Instalación interna, Edificio de 14 niveles y 28 departamentos, Dirección: Av.  Arce. SAN JORGE.</li>
              <li><b>EDIFICIO "PRESIDENTE ARCE".</b> Proyecto  y ejecución de Acometida, Conducto Montante,  instalación interna, Edificio de 2 bloques, 8 niveles y 48 departamentos,  Dirección: Av. Arce. SAN JORGE.</li>
            </ul>
            <ul class="col50">   
              <li><b>EDIFICIO "OSCAR".</b> Proyecto  y ejecución de Acometida, Conducto Montante,  Edificio de 5 niveles y 15 departamentos, Dirección: MIRAFLORES.</li>
              <li><b>EDIFICIO "TORRE ALFA". </b>Proyecto  y ejecución de Acometida, Conducto Montante,  red interior de gas natural y agua caliente, calefacción individual para el ,  de 9 niveles y 18 departamentos Propietario Responsable; ING. MARCELO  GARDEAZABAL Dirección: CALACOTO.</li>
              <li><b>EDIFICIO "ROOSER SUR".</b> Proyecto  y ejecución del Conducto Montante de Gas  Natural para el edificio, de 2 bloques y 30 departamentos, Responsable; Dr.  Oscar Aguirre, Zona: Calacoto.</li>
              <li><b>EDIFICIO "MAC TOWER".</b> Proyecto  de Conducto Montante, red interior de gas  natural y agua caliente, calefacción individual para el , de 9 niveles y 11  departamentos Propietario Responsable; Arq. Sergio Mejia, Zona: Calacoto.</li>
              <li><b>CONDOMINIO TARUMA. </b>Proyecto  e instalación Acometida 350.00 mts, de  Conducto Montante, red interior de gas natural y agua caliente, calefacción  individual para el , de 2 bloques 6 niveles y 28 departamentos Propietario  Responsable; Ing. Alfredo Fernández, Ciudad: Santa Cruz de La Sierra.</li>
            </ul>
          </div>
        </div>
      </main>
      <main class="incahuasi">
        <div class="main">
          <h2 class="main__title" :id="mainmenu[3].href"><span v-text="mainmenu[3].title"></span>&nbsp;y otros</h2>
          <div class="col50">
            <ul>
              <li> <b>Proyecto e instalación: </b>Gases Médicos.</li>
              <li> <b>Diseño mecánicos: </b>Cintas transportadoras, Ascensores.</li>
              <li> <b>Construcciones civiles.</b></li>
            </ul>
            <p> <b>Los gases medicinales, </b>son los elementos por medio de los cuales se distribuyen a todos los sectores de una clínica u hospital.</p>
            <p> <b>Las cañerías </b>son fabricadas según Norma ASTM-B 88 y se usan dos tipos: tipo “K” para gases comprimidos y tipo “L” para redes de vacío.</p>
            <p>Las cañerías son pintadas según el color correspondiente a cada gas y son identificadas por medio de etiquetas, que además indican el sentido de flujo.</p>
            <p>Los soportes de cañerías son de material resistente a la corrosión y son instalados a intervalos máximos según Norma NCh 2136. Las derivaciones y uniones son soldadas por medio de soldadura fuerte (Plata 35%).</p>
            <p>Las cañerías son lavadas con desengrasantes, sopladas y secadas con nitrógeno. Además, son protegidas y selladas para transporte.</p>
          </div>
          <div class="col50"><img src="images/gases-medicinales01.jpg" :alt="mainmenu[3].title">
            <h3 class="main__subtitle">Otras obras</h3>
            <ul>
              <li> <b>CARTONBOL. </b>Sistema Contra incendio, Hidrantes, sistema de bombeo, Tablero de Control. Trabajo en ejecución para la empresa PROSEC Ingenieros, en la ciudad de Oruro.</li>
              <li> <b>CONVISA.</b>Fabricación de quemadores Diesel para su planta de Asfalto Ubicada en la Localidad de Achacachi.</li>
            </ul>
          </div>
        </div>
      </main>
      <main class="incahuasi">
        <div class="main">
          <div class="col30">
            <h2 class="main__title" :id="menuinicio[2].href">Contáctenos</h2>
            <form class="form" v-on:submit.prevent="submitForm">
              <div class="form__item">
                <label class="form__label" for="">Nombre completo: </label>
                <input class="form__input" v-model="vue.nombre" type="text" required="">
              </div>
              <div class="form__item">
                <label class="form__label" for="">Teléfono: </label>
                <input class="form__input" v-model="vue.telefono" type="number" required="">
              </div>
              <div class="form__item">
                <label class="form__label" for="">Celular: </label>
                <input class="form__input" v-model="vue.movil" type="number" required="">
              </div>
              <div class="form__item">
                <label class="form__label" for="">Dirección: </label>
                <input class="form__input" v-model="vue.direccion" type="text" required="">
              </div>
              <div class="form__item">
                <label class="form__label" for="">Ciudad: </label>
                <input class="form__input" v-model="vue.ciudad" type="text" required="">
              </div>
              <div class="form__item">
                <label class="form__label" for="">Email: </label>
                <input class="form__input" v-model="vue.email" type="email" required="">
              </div>
              <div class="form__item">
                <label class="form__label" for="">Mensaje: </label>
                <textarea class="form__input" v-model="vue.mensaje" name="" cols="30" rows="10" required=""> </textarea>
              </div>
              <div class="form__buttons">
                <button class="form__button" type="submit">Enviar</button>
                <button class="form__button" v-on:click="clearForm()">Limpiar</button>
              </div>
              <div class="statusMessage" v-if="formSubmitted">
                <h4 v-text="vue.envio"></h4>
              </div>
            </form>
          </div>
          <div class="col70">
            <div class="content_map">
              <h3 class="main__title">Ubicación - La Paz</h3><iframe class="map" src="https://www.google.com/maps/d/embed?mid=1y-D3NoPzt-Oe1L0tbh58ec_PMSw" width="640" height="480"></iframe>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="incahuasi">
          <div class="footer__item footer__item_1">
            <div class="footer__itemcontent">
              <h2 class="footer__title">SERVICIOS</h2>
              <nav class="menu">
                <ul class="menu__ul">
                  <li class="menu__item" v-for="item in mainmenu"><a class="menu__link" :href="'#' + item.href" v-text="item.title"></a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="footer__item footer__item_2">
            <div class="footer__itemcontent">
              <h2 class="footer__title">INCAHUASI - BOLIVIA</h2>
              <p class="footer__text"><span class="block"><b>LA PAZ:</b> Alto Sopocachi c. José Manuel Cáceres Nº 1927</span><span> esq. Ostria. <a class="marker" :href="'#' + menuinicio[2].href"><span><i class="icon icon-marker"></i> <strong> VER MAPA </strong></span></a></span></p>
              <p class="footer__text"><span class="block"><b>Telf.:</b> 2413984 – Fax: 2413984</span><br><span><strong>Cel.:</strong> <span class="whatsapp">72539854</span></span></p>
              <p class="footer__text"><strong>E-mail.:</strong><span>info@inca-huasi.com</span></p>
            </div>
          </div>
          <div class="footer__item footer__item_3">
            <div class="footer__itemcontent">
              <center>
                <h2 class="footer__title">Visita No:&nbsp;&nbsp;<img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=256397"></h2>
              </center>
              <p><img src="images/logo2.png" alt="Incahuasi"></p>
              <p class="footer__text">Todos los Derechos Reservados ®.<br> <span>© <i id="currentDate"></i></span><br></p>
              <p class="footer__text"><a class="ah" href="//ahpublic.com" target="_blank">Diseño y Programación: AH! PUBLICIDAD</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/scripts.js?v1.0.1"></script>
  </body>
</html>