main.incahuasi
  .main
    h2.main__title(:id="mainmenu[0].href") 
      span(v-text="mainmenu[0].title")
      | , ventilación y tratamiento de aire
    .col100
      p Nos dedicamos con amplia trayectoria y profesionalismo adquirido a la instalación y soluciones en equipos de aire acondicionado respaldados por un equipo técnico altamente especializado. Contamos para las instalaciones de aire acondicionado con diversos equipos de diferentes diseños, capacidades y marcas que usted podrá elegir según sus necesidades y gustos.
    .col50
      h3.main__subtitle Sistemas de Aire Acondicionado:
      p 
        | Central e individual, Sala de servidores.
        br
    .col50
      h3.main__subtitle Sistemas de ventilación y extracción de aire: 
      p 
        | Renovación de Aire en sótanos (Parqueos).
    .col100
      p.center Permiten crear un clima artificial en el interior de un edificio. De acuerdo a las necesidades, en ciertos momentos se deberá producir calor y en otros frío, para generar un ámbito de temperatura agradable.
    .col50
      img(src="images/aire-acondicionado01.jpg", :alt="mainmenu[0].title")
      h3.main__subtitle Obras en área de aire acondicionado:
      p MINISTERIO DE SALUD.- Sistema de Aire Acondicionado y ventilación para el edificio de vacunas, ubicado en la plaza Bolivia. Trabajo ejecutado para la empresa PORTICO LTDA
    .col50
      h3.main__subtitle Obras en área de tratamiento de aire:
      ul
        li 
          b LA CASTELLA. 
          | Salones de eventos, Sistema de renovación de Aire centralizado - Cota Cota - La paz.
        li  
          b PIZZERIA ELIS - MEGA CENTER. 
          | Sistema de extracción cocinas; Fabricación e instalación de campanas en acero inoxidable, instalación de extractores, trampas de  grasa y filtros de grasa.
        li PIZZERIA ELIS - HIPER MAXI. Sistema de extracción cocinas; Fabricación e instalación de campanas en acero inoxidable, instalación de extractores, trampas de  grasa y filtros de grasa.
        li PIZZERIA ELIS - MULTICINE. Sistema de extracción cocinas; Fabricación e instalación de campanas en acero inoxidable, instalación de extractores, trampas de  grasa y filtros de grasa
