main.incahuasi
  .main
    h2.main__title(:id="mainmenu[1].href")
      span(v-text="mainmenu[1].title")
      | , climatización y agua caliente
    .col100
      p La calefacción se concentra básicamente en calentar el aire de los ambientes.
      h3.main__subtitle SISTEMAS DE CALEFACCIÓN
    .col100.incahuasi.l-block
      ul.col25
        li Sistemas de caldera con radiadores de agua y vapor.
        li Sistema por suelo radiante.
      ul.col25
        li Calefactores a gas (sistema de tiro balanceado)
        li Emisores termoeléctricos.
      ul.col25
        li Furnaces  (generadores de aire caliente)
        li Tubo radiante
      ul.col25
        li Sistema con bomba de calor
      
    .col100
      p.center El sistema más usado es el de caldera con radiadores de agua.
    .col50.l-block
      h3.main__subtitle= `SISTEMAS DE CALEFACCIÓN central`.toUpperCase()
      .incahuasi
        ul.col50
          li Losas Radiantes
          li Fan Coil
          li Gas Furnaces
        ul.col50 
          li Electric Furnaces
          li Radiadores Agua Caliente
    .col50
      h3.main__subtitle= `SISTEMAS DE CALEFACCIÓN dividida`.toUpperCase()
      .incahuasi
        ul.col100
          li Tiro Balanceado.
          li TB.
          li TBU.
    .col50
      h3.main__subtitle Obras en área de calefacción:
      img(src="images/calefaccion01.jpg", :alt="mainmenu[1].title")
    .col50
      h3.main__subtitle Obras en área de climatización de piscinas:
      p 
        b COMPLEJO DEPORTIVO "OLIMPO", 
        br
        | Proyecto y ejecución. De la Sra. Yolanda Chavarría, Climatización de piscina e hidromasaje, fabricación e instalación de equipos de sauna vapor y sauna seco, Generación de Agua Caliente Sanitaria. e instalación de Gas Natural.