main.incahuasi
  .main
    .col30
      h2.main__title(:id="menuinicio[2].href") Contáctenos
      form.form(v-on:submit.prevent="submitForm")
        .form__item
          label.form__label(for="") Nombre completo: 
          input.form__input(v-model="vue.nombre" type="text" required="")
        .form__item
          label.form__label(for="") Teléfono: 
          input.form__input(v-model="vue.telefono" type="number" required="")
        .form__item
          label.form__label(for="") Celular: 
          input.form__input(v-model="vue.movil" type="number" required="")
        .form__item
          label.form__label(for="") Dirección: 
          input.form__input(v-model="vue.direccion" type="text" required="")
        .form__item
          label.form__label(for="") Ciudad: 
          input.form__input(v-model="vue.ciudad" type="text" required="")
        .form__item
          label.form__label(for="") Email: 
          input.form__input(v-model="vue.email" type="email" required="")
        .form__item
          label.form__label(for="") Mensaje: 
          textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="") 
        .form__buttons
          button.form__button(type="submit") Enviar
          button.form__button(v-on:click="clearForm()") Limpiar
        .statusMessage(v-if="formSubmitted")
          h4(v-text="vue.envio")
    .col70
      .content_map
        h3.main__title Ubicación - La Paz
        <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1y-D3NoPzt-Oe1L0tbh58ec_PMSw" width="640" height="480"></iframe>