main.incahuasi
  .main
    h2.main__title(v-text="mainmenu[2].title" :id="mainmenu[2].href")
    .col50
      ul
        li Proyectos e instalaciones de Gas Natural categoría INDUSTRIAL, con autorización de la Agencia Nacional de Hidrocarburos y YPFB N° 0024/2017
        li Proyecto de instalaciones de gas GLP, instalaciones de tanques estacionarios e instalaciones internas.
        li Climatización de piscinas: Solar, Gas y diesel, Paneles solares y calderos a gas para piscinas.
        li Fabricacion e instalacion de Equipos sauna seco y vapor a gas GLP, Gas Natural y elèctricos.

      //- p Sistema de Gas Licuado de Petróleo, Ahorro y Energía sin contaminación ambiental.
      //- p Sistemas para el uso de GLP en vehículos automotores de gasolina, el costo es bastante inferior a la gasolina de 84 octanos.
      //- p Gas Licuado de Petróleo es una mezcla de gases (propano y butano) obtenidos de la destilación fraccionada del petróleo crudo. Landi Hartog.
    .col50
      img(src="images/gas-natural01.jpg", :alt="mainmenu[2].href")
    .col100.incahuasi
      ul.col50
        li
          b EDIFICIO "CONDOMINIO LA JOYA".
          |   Proyecto  y ejecución de Acometida,  Conducto Montante, Instalación interna, 4 Bloques, Edificio de 8 niveles y 78  departamentos, Dirección: Plaza Lira, Sopocachi.
        li
          b EDIFICIO "YOCAPRI III". 
          | Proyecto  y ejecución de Acometida, Conducto Montante,  Instalación interna, Edificio de 21 niveles y 63 departamentos, Dirección:  Zona Central.
        li
          b EDIFICIO "GLORIA". 
          | Proyecto  y ejecución de Acometida, Conducto Montante,  
          br
          |         Instalación interna, Edificio de 12 niveles y 24 departamentos, Dirección: Av.  Arce. SAN JORGE.
        li
          b EDIFICIO "BELEN D BELEN".
          |   Proyecto  y ejecución de Acometida,  Conducto Montante, red interior de gas natural y agua caliente,  de 16 niveles y 56 departamentos Propietario  Responsable; ING. MARCELO GARDEAZABAL Dirección: CALACOTO.

        li
          b EDIFICIO "HERMES".
          |  Proyecto  y ejecución de Acometida, Conducto Montante,  Instalación interna, Edificio de 14 niveles y 28 departamentos, Dirección: Av.  Arce. SAN JORGE.
          
        li
          b EDIFICIO "PRESIDENTE ARCE".
          |  Proyecto  y ejecución de Acometida, Conducto Montante,  instalación interna, Edificio de 2 bloques, 8 niveles y 48 departamentos,  Dirección: Av. Arce. SAN JORGE.
      ul.col50    
        li
          b EDIFICIO "OSCAR".
          |  Proyecto  y ejecución de Acometida, Conducto Montante,  Edificio de 5 niveles y 15 departamentos, Dirección: MIRAFLORES.
          
        li
          b EDIFICIO "TORRE ALFA". 
          | Proyecto  y ejecución de Acometida, Conducto Montante,  red interior de gas natural y agua caliente, calefacción individual para el ,  de 9 niveles y 18 departamentos Propietario Responsable; ING. MARCELO  GARDEAZABAL Dirección: CALACOTO.
          
        li
          b EDIFICIO "ROOSER SUR".
          |  Proyecto  y ejecución del Conducto Montante de Gas  Natural para el edificio, de 2 bloques y 30 departamentos, Responsable; Dr.  Oscar Aguirre, Zona: Calacoto.
        li
          b EDIFICIO "MAC TOWER".
          |  Proyecto  de Conducto Montante, red interior de gas  natural y agua caliente, calefacción individual para el , de 9 niveles y 11  departamentos Propietario Responsable; Arq. Sergio Mejia, Zona: Calacoto.
          
        li
          b CONDOMINIO TARUMA. 
          | Proyecto  e instalación Acometida 350.00 mts, de  Conducto Montante, red interior de gas natural y agua caliente, calefacción  individual para el , de 2 bloques 6 niveles y 28 departamentos Propietario  Responsable; Ing. Alfredo Fernández, Ciudad: Santa Cruz de La Sierra.
