main.incahuasi
  .main
    h2.main__title(:id="mainmenu[3].href")
      span(v-text="mainmenu[3].title")
      | &nbsp;y otros
    .col50
      ul
        li 
          b Proyecto e instalación: 
          | Gases Médicos.
        li 
          b Diseño mecánicos: 
          | Cintas transportadoras, Ascensores.
        li 
          b Construcciones civiles.
      p 
        b Los gases medicinales, 
        | son los elementos por medio de los cuales se distribuyen a todos los sectores de una clínica u hospital.
      p 
        b Las cañerías 
        | son fabricadas según Norma ASTM-B 88 y se usan dos tipos: tipo “K” para gases comprimidos y tipo “L” para redes de vacío.
      p Las cañerías son pintadas según el color correspondiente a cada gas y son identificadas por medio de etiquetas, que además indican el sentido de flujo.
      p Los soportes de cañerías son de material resistente a la corrosión y son instalados a intervalos máximos según Norma NCh 2136. Las derivaciones y uniones son soldadas por medio de soldadura fuerte (Plata 35%).
      p Las cañerías son lavadas con desengrasantes, sopladas y secadas con nitrógeno. Además, son protegidas y selladas para transporte.
    .col50
      img(src="images/gases-medicinales01.jpg", :alt="mainmenu[3].title")
      h3.main__subtitle Otras obras
      ul
        li 
          b CARTONBOL. 
          | Sistema Contra incendio, Hidrantes, sistema de bombeo, Tablero de Control. Trabajo en ejecución para la empresa PROSEC Ingenieros, en la ciudad de Oruro.
        li 
          b CONVISA.
          | Fabricación de quemadores Diesel para su planta de Asfalto Ubicada en la Localidad de Achacachi.