span(:id="menuinicio[1].href")
main.incahuasi(v-show="menuinicio[1].active", transition="expand")
	.main
		a.full(v-on:click="mainMenu()" href="#nosotros")
			h2.main__title(v-text="menuinicio[1].title", :class="menuinicio[1].active ? 'main__title_active' : 'main__title_no-active'")
		.col100.incahuasi
			.col50
				h3.main__subtitle La empresa
				p La empresa cumple con diferentes funciones  específicas, las cuales se mencionan a continuación:
				ul
					li Prestar  asesoría en el diseño, instalación y mantenimiento de las redes de gas natural,  calefacción y aire acondicionado así como también proyectar los planes de  nuevas instalaciones y/o expansión para garantizar el buen crecimiento y funcionamiento  de dichas redes.
					li Velar  por el buen funcionamiento de las instalaciones, de manera que se resuelvan  eficientemente los problemas operativos y de emergencia.
					li Realizar  la aprobación del Proyecto en Y.P.F.B. para ser autorizados a conectar la instalación  a la interconexión a la red principal de cualquier dependencia interna que  tenga el proyecto.
					li Producir  la documentación necesaria para ser presentada a Y.P.F.B. siguiendo las normas  que establece esta institución, así como también asesorar en la presentación de  estos documentos.
					li Realizar  la instalación de los diferentes proyectos, de acuerdo a los contratos firmados  con las personas o empresas que adquieren los servicios.  
			.col50
				h3.main__subtitle Historia
				p En el año 2004 se crea la empresa Inca Huasi, la cual busca ofrecer servicios de ingeniería en materia térmica, dando paso a la idea de dedicarse al área de gas que permitió visualizar nuevos horizontes para la futura empresa. Con una buena aceptación en el campo empresarial debido al los trabajos realizados es como la empresa fue desarrollándose a cargo del gerente general, el ingeniero Sigfrido Noro Gómez.
				h3.main__subtitle Misión
				p Aprovechar la tecnología y oportunidad de mercado para satisfacer en forma creativa y competitiva, las necesidades de nuestros clientes, en relación a las instalaciones de Climatización, Gas Natural y GLP, aplicando procedimientos técnicos e innovando, para contribuir al mejoramiento de la calidad de vida.
				//- p INCA HUASI tiene la misión de proveer a los clientes, un servicio de calidad, técnicamente confiable tanto en la instalación realizada como en la aprobación de los proyectos, que les proporcione una atención acorde con sus necesidades, logrando así una mayor cobertura en el mercado dentro de las áreas de especialización.
				h3.main__subtitle Visión
				p Inca Huasi, mantendrá su prestigio como empresa en instalaciones de gas natural, y GLP, a nivel industrial y otros servicios, que llegaran a satisfacer las expectativas de nuestros clientes.
				//- p Prestar un servicio integral y eficiente, cuya calidad sea comparable a la de las mejores empresas bolivianas y latinoamericanas.