doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
  head
    title INCA HUASI - Gas Natural
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
    meta(name='description', content='')
    meta(property="og:title" content="INCA HUASI - Gas Natural")
    meta(property="og:description" content="INCA HUASI - Gas Natural")  
    meta(name='author', content='')
    meta(name='keywords', content='')
    link(rel="stylesheet" href="css/styles.css?v1.0.1")
  body.body
    #app
      header.header#header
        nav
          .header__top.incahuasi
            ul.social.header__social
              li.social__icon: a(href="#", target="_blank"): i.icon-facebook
              li.social__icon: a(href="#", target="_blank"): i.icon-youtube
              li.social__icon: a(href="#", target="_blank"): i.icon-twitter
            a(href="#")
              .logo
                .logo__item
                  img.logo__0(src='images/isologo.png', alt='')
                  img.logo__1(src='images/I.png', alt='')
                  img.logo__2(src='images/N.png', alt='')
                  img.logo__3(src='images/C.png', alt='')
                  img.logo__4(src='images/A.png', alt='')
                  img.logo__5(src='images/H.png', alt='')
                  img.logo__6(src='images/U.png', alt='')
                  img.logo__7(src='images/A.png', alt='')
                  img.logo__8(src='images/S.png', alt='')
                  img.logo__9(src='images/I.png', alt='')
            ul.header__inicio.topbar
              li.topbar__item: a.topbar__link(v-on:click="menuinicio[1].active = false; toggle = false" :href="'#' + menuinicio[0].href" v-text="menuinicio[0].title")
              li.topbar__item: a.topbar__link(v-on:click="menuinicio[1].active = true; toggle = false" :href="'#' + menuinicio[1].href" v-text="menuinicio[1].title")
              li.topbar__item: a.topbar__link(v-on:click="menuinicio[1].active = false; toggle = false" :href="'#' + menuinicio[2].href" v-text="menuinicio[2].title")
            a.button__movil(href="javascript:void(0);", @click="toggleMenu()") MENÚ
        nav.header__main
          .incahuasi
            ul.header__block
              li.header__item: a.header__link.hvr-shutter-out-vertical(v-on:click="menuinicio[1].active = false;",data-scroll :href="'#' + mainmenu[0].href") Aire <span>Acondicionado</span>
              li.header__item: a.header__link.hvr-shutter-out-vertical(v-on:click="menuinicio[1].active = false;",data-scroll :href="'#' + mainmenu[1].href") Calor <span>Calefaccion</span>
            .header__logo
              h2.ribbon-level 
                div
                  span.ribbon-level__span1 CLIMATIZACIÓN y GAS NATURAL
                  span.ribbon-level__span2 CLIMATIZACIÓN y GAS NATURAL
                  span.ribbon-level__span3 CLIMATIZACIÓN y GAS NATURAL
                  span.ribbon-level__span4 CLIMATIZACIÓN y GAS NATURAL
            ul.header__block
              li.header__item: a.header__link.hvr-shutter-out-vertical(v-on:click="menuinicio[1].active = false;",data-scroll :href="'#' + mainmenu[2].href") Gas <span>Natural</span>
              li.header__item: a.header__link.hvr-shutter-out-vertical(v-on:click="menuinicio[1].active = false;",data-scroll :href="'#' + mainmenu[3].href") Gases <span>Medicinales</span>
        nav.header__menu_movil(:class="toggle ? 'header__menu_movil--toggle' : ''")
          ul.header__i.topbar
            li.topbar__item: a.topbar__link(v-on:click="menuinicio[1].active = false; toggle = false" :href="'#' + menuinicio[0].href" v-text="menuinicio[0].title")
            li.topbar__item: a.topbar__link(v-on:click="menuinicio[1].active = true; toggle = false" :href="'#' + menuinicio[1].href" v-text="menuinicio[1].title")
            li.topbar__item: a.topbar__link(v-on:click="menuinicio[1].active = false; toggle = false" :href="'#' + menuinicio[2].href" v-text="menuinicio[2].title")   
          ul.header__bl
            li.header__item(v-for="item in mainmenu"): a.header__link.hvr-shutter-out-vertical(v-on:click="menuinicio[1].active = false;toggle = false", data-scroll :href="'#' + item.href", v-text="item.title")  
            
      block main
      footer.footer
        .incahuasi
          .footer__item.footer__item_1
            .footer__itemcontent
              h2.footer__title SERVICIOS
              nav.menu
                ul.menu__ul
                  li.menu__item(v-for="item in mainmenu"): a.menu__link(:href="'#' + item.href", v-text="item.title")
          .footer__item.footer__item_2
            .footer__itemcontent
              h2.footer__title INCAHUASI - BOLIVIA
              p.footer__text <span class="block"><b>LA PAZ:</b> Alto Sopocachi c. José Manuel Cáceres Nº 1927</span><span> esq. Ostria. <a class="marker" :href="'#' + menuinicio[2].href"><span><i class="icon icon-marker"></i> <strong> VER MAPA </strong></span></a></span>
              p.footer__text <span class="block"><b>Telf.:</b> 2413984 – Fax: 2413984</span><br><span><strong>Cel.:</strong> <span class="whatsapp">72539854</span></span>
              p.footer__text <strong>E-mail.:</strong><span>info@inca-huasi.com</span>
          .footer__item.footer__item_3
            .footer__itemcontent
              center
                h2.footer__title Visita No:&nbsp;&nbsp;<img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=256397">
              p: img(src="images/logo2.png", alt="Incahuasi")
              p.footer__text Todos los Derechos Reservados ®.<br> <span>© <i id="currentDate"></i></span><br>
              p.footer__text: a.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD
    script(src="js/scripts.js?v1.0.1")
