.body{
  color: #4a4a4a;
  @include from(m){
    padding-top: 220px;
  }
  @include to(m){
    padding-top: 170px;
  }
  background: linear-gradient(darken($silver,15),transparent 380%),url(../images/pattern.png) repeat 0 0;
}
.l-block{
  margin-bottom: 1rem;
  @include from(l) {
    margin-bottom: 1.5rem;
  }
}
.center{
  text-align: center;
}
@keyframes moveheader{
  0% {
    background-position: 0 60%, 0 50%;
  }
  100% {
    background-position: 0 60%, 100% 50%;
  }
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #F7F7F7;
  background-image: url(../images/fondo-header-white.svg), radial-gradient(200px 500px at center,$blue 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
  background-size: 100%, 50% 100%;
  background-position: 0 60%, 0 100%;
  animation: moveheader 5s linear infinite;
  nav:first-child{
    height: 165px;
  }
  polygon{
    fill: red;
  }
  &__top{
    @include mainJustify;
    @include crossCenter;
    padding: 0 15px;
    height: 160px;
  }
  &__social{
    @include from(l){
      @include mainStart;
    }
    @include showFrom(m);
    padding-left: 0;
    margin: 0;
  }
  &__inicio{
    @include showFrom(m);
    @include from(m){
      @include mainEnd;
    } 
    list-style: none;
    font-family: "Acme-Regular", sans-serif;
    padding-left: 0;
    margin: 0;
  }
  &::after{
    content: '';
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: -1;
    border-bottom: 15px dotted $blue;
    @include showFrom(m);
  }
  &__main{
    width: 100%;
    height: 60px;
    background: linear-gradient(lighten($blue,15),$blue,darken($blue,15),$blue);
    box-shadow: 0px -2px 3px 0px #5b5b5b;
    border-top: $blue 1px solid;
    @include showFrom(m);
    ul{
      list-style: none;
      padding: 0;
    }
    .incahuasi{
      height: 100%;
    }
  }
  &__logo{
    position: relative;
    @include edItem(100,30,40);
    @include mainCenter;
  }
  &__block{
    @include edItem(100,35,30);
    @include mainDistribute;
    @include crossCenter;
    @include showFrom(m);
  }
  &__item{
    @include edItem(100,50);
    @include crossCenter;
    height: 100%;
    padding: 0;
    border-left: 1px solid lighten($blue, 15);
    border-right: 1px solid lighten($blue, 15);
    @include to(m){
      margin-bottom: 1px;
    }
  }
  &__link{
    @include mainCenter;
    @include crossCenter;
    color: $white;
    font-size: 1.3rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    span{
      display: block;
      width: 100%;
      font-size: 1rem;
      text-align: center;
      @include fromTo(m,l){
        font-size: 0.6rem;
      }
      // text-transform: capitalize;
    }
    &:hover{
      color: $yellow;
      text-decoration: none;

    }
  }
  &__menu_movil{
    @include showTo(m);
    @include edItem(95);
    position: absolute;
    top: 170px;
    left: 0;
    background: linear-gradient(transparentize(lighten($yellow, 10), 0.5), transparentize(darken($yellow, 10),0.2));
    border-bottom-right-radius: 10px;
    box-shadow: 0 0px 5px 0 #000;
    transform: translateX(-100%);
    transition: 0.5s transform;
    &--toggle{
      transform: translateX(0);
    }
  }
  &__i,&__bl{
    list-style: none;
    padding-left: 0;
    @include mainCenter;
  }
  &__link{
    background: linear-gradient(lighten($blue,15),$blue,darken($blue,15),$blue);
    padding: 20px 5px;
  }
}
.footer{
  position: relative;
  background: linear-gradient($yellow,darken($yellow,8), darken($yellow,16));
  padding-bottom: 20px;
  margin-top: 20px;
  &::before{
    content: "";
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    border-bottom: 15px dotted $yellow;
    z-index: 40;
  }
  &__title{
   color: $yellow;
   font-family: "Acme-Regular", sans-serif;
   text-shadow: -1px 1px 5px lighten($blue,10);
   text-align: center;
   padding: 0 10px;
  }
  &__text{
    color: $white;
    text-align: center;
  }
  &__item{
    display: flex;
    align-items: stretch;
    margin-top: 20px;
  }
  &__item_1{
    @include edItem(100,50,25);
  }
  &__item_2{
    @include edItem(100,50,45);
  }
  &__item_3{
    @include edItem(100,50,30);
  }
  &__itemcontent{
    width: 100%;    
    padding: 0 20px;
    background: linear-gradient(darken($blue, 13),darken($blue, 5) , lighten($blue, 10));
    border-radius: 10px;
    border: 5px ridge $white;
    p{
      text-align: center;
      img {
        width: 50%;
      }
    }
  }
  span{}
}
.main{
  @include edContainer;
  width: 100%;
  margin-top: 20px;
  background: $white;
  border: 7px ridge lighten($blue,5);
  border-radius: 10px;
  &__title{
    @include mainCenter;
    @include crossCenter;
    width: 100%;
    font-family: "Acme-Regular", sans-serif;
    border-bottom: 3.5px solid #606060;
    border-image: linear-gradient(90deg,transparent,darken($yellow, 10) 50%,#fbee02 0,darken($yellow, 10) 50%,transparent);
    border-image-slice: 1;
    text-shadow: 0 1px 1px $yellow;
    color: $blue;
    text-transform: uppercase;
    padding: 15px 0 0 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.7rem;
    transition: 0.5s all;
    &_active{
      &::before{
      content: "";
      position: relative;
      border-top: 10px solid #10356c;
      border-bottom: 0 solid transparent;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      font-size: 0;
      margin-right: 5px;
      transition: 0.5s transform;
      }
    }
    &_no-active{
      &::before{
      content: "";
      position: relative;
      border-top: 10px solid #10356c;
      border-bottom: 0 solid transparent;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      font-size: 0;
      margin-right: 5px;
      transform: rotate(-90deg);
      transition: 0.5s transform;
      }
    }
  }
  &__subtitle{
    color: $yellow;
    text-shadow: 2px 0px 1px $blue;
    background: linear-gradient(90deg,$blue, transparent);
    padding: 10px;
    font-family: "Acme-Regular", sans-serif;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0rem;
  }
  p, li{
    font-size: 1.1rem;
    margin-top: 0.5rem;
    line-height: 1.2;
  }
  li{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $silver;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  img{
    margin-bottom: 10px;
  }
}
.section{

}
.aside{

}