.col50{
  @include edItem(100, 50);
}
.col30{
  @include edItem(100, 50, 30);
}
.col25{
  @include edItem(100, 50, 25);
}
.col70{
  @include edItem(100, 50, 70);
}
.col100{
  @include edItem(100);
}
.full{
  @include edItem(100);
  padding: 0;
}