// FORM CONTACT INI
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}
.form__item{
    width: 100%;
}
.form__label {
    width: 100%;
    color: $blue;
}
.form__input {
    width: 100%;
    background: #efefef;
    color: #000;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px;
}
.form__buttons{
  width: 100%;
  @include mainCenter;
}
.form__button {
    width: 40%;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 1.3rem;
    line-height: 1.1;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 15px;

    // display: inline-block;
    z-index: 1;
    will-change: transform;
    transition: all .3s ease-out;
    &:hover {
      transition: all .2s ease-out;
      transform: translate3d(-4px,4px,0);
    }
}
// FORM CONTACT END