.logo{
    position: absolute;
    width: 300px;
    border: 7px ridge $yellow;
    border-radius: 13px;
    height: 125px;
    left: 50%;
    transform: translate(-50%);
    @include fromTo(m,l){
      left: 0;
      transform: translate(5%);
    }
    @include to(m){
      transform: translate(-50%) scale(.75);
      transform-origin: top;
    }
    top: 15px;
    background: $white;
    transition: 0.5s all;
  &__item{
    width: 100%;
    height: 100%;  
    position: relative;
    transform: scale(.65) translateY(-10px) translateX(-42px);
    transform-origin: center; 
  }
  & img{
    position: absolute;
  }
  &__0{
    animation: isologo 10s infinite;
  }
  &__1{
    left:109px;
    animation: uno 10s infinite;
  }
  &__2{
    left:142px;
    animation: uno 10s infinite;
  }
  &__3{
    left: 202px;
    animation: uno 10s infinite;
  }
  &__4{
    left: 256px;
    animation: uno 10s infinite;
  }
  &__5{
    top: 65px;
    left:107px;
    animation: dos 10s infinite;
  }
  &__6{
    top: 65px;
    left: 172px;
    animation: dos 10s infinite;
  }
  &__7{
    top: 65px;
    left: 228px;
    animation: dos 10s infinite;
  }
  &__8{
    top:65px;
    left:292px;
    animation: dos 10s infinite;
  }
  &__9{
    top: 65px;
    left: 337px;
    animation: dos 10s infinite;
  }
}


/**
  .iso{
  animation: iso 10s infinite;
    }
  .uno{
  
    
  }
  .dos{
    animation: uno 10s infinite;
  }
  .tres{
    animation: uno 10s infinite;
  }
  .cinco{
    animation: uno 10s infinite;

  }
  .seis{
    animation: dos 10s infinite;

  }
  .siete{
    animation: dos 10s infinite;
  }
  .ocho{
    animation: dos 10s infinite;
  }
  .nueve{

    animation: dos 10s infinite;
  }
  .diez{
    top: 65px;
    left: 337px;
    animation: dos 10s infinite;
  }
*/



@keyframes uno {
    0%{transform: rotateY(90deg);}
    25%{transform: rotateY(0deg)}
    50%{}
    100%{transform: rotateY(0deg);
    }
  }

  @keyframes dos{
  0%{
    transform: rotateY(90deg);
  }
    4%{transform: rotateY(90deg)}
    29%{transform: rotateY(0deg)}
    50%{transform: rotateY(0deg)}
    100%{transform: rotateY(0deg);
  }
}

@keyframes isologo{
  0% {
    transform: scale(1);
  }
  25% {
      transform: scale(1.1);
  }
  50% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}