.menu{
  &__ul{
    list-style: none;
    padding-left: 15px;
  }
  &__item{
    padding: 5px;
  }
  &__link{
    position: relative;
    @include crossCenter;
    padding-left: 30px;
    height: 30px;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: url('../images/icon-incahuasi.png') no-repeat;
      width: 30px;
      height: 30px;
    }
  }
}