.topbar{
  &__item{
    margin-left: 10px;
    border-radius: 7px;
    background: #f2f2f2;
    box-shadow: 2px -2px 10px -4px #000;
    border: 3px #cad2e7;
    border-style: outset;
  }
  &__link{
    display: block;
    color: $blue;
    padding: 5px 10px;
    &:hover{
      background: lighten($silver, 12);
     text-decoration : none;
    }
  }
}
.social{
  list-style: none;
  padding-left: 0;
  &__icon{
    margin-right: 10px;
    border-radius: 7px;
    background: #f2f2f2;
    box-shadow: 2px -2px 10px -4px #000;
    border: 3px #cad2e7;
    border-style: outset;
  }
  a{
    color: $blue;
    &:hover{
      color: $white;
      text-decoration: none;
      .icon-{
        &facebook{
          background: #3358b3;
        }
        &youtube{
          background: #d61111;
        }
        &twitter{
          background: #0099ff;
        }
      }
    }
  }
  i{
    @include mainCenter;
    @include crossCenter;
    width: 30px;
    height: 30px;
    transition: 0.6s background;
  }
}