// initial: 'header-initial', //Cuando el elemento se inicializa
// pinned: 'header-up', //Cuando se deplaza hacia arriba
// unpinned: 'header-down', //Cuando se deplaza hacia abajo
// top: 'header-top', //Cuando esta pegado arriba
// notTop: 'header-notop', //Cuando no esta pegado arriba
// bottom: 'header-bottom', //Cuando esta pegado abajo
// notBottom: 'header-nobottom'//Cuando no esta pegado abajo

.header-up{ //Cuando se deplaza hacia arriba

}
.header-down{ //Cuando se deplaza hacia abajo

}
.header-top{ //Cuando esta pegado arriba
  nav:first-child{
    transition: 0.9s all;
  }
  .header__top{
    transition: 0.9s all;
  }
}
.header-notop{ //Cuando no esta pegado arriba
  position: fixed;
  nav:first-child{
    height: 0;
  }
  .header__top{
    @include crossEnd;
    @include to(m){
      height: 50px;
    }
    @include from(m){
      height: 103px;
    }
  }
  //Menu Movil ini
  .header__menu_movil{
    top:53px;
  }
  //Menu movil End
  .ribbon-level{
    opacity: 0;
  }
  .logo{
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.75);
    @include showFrom(m);
  }
  .header__inicio{
    @include mainEnd;
  }
  .header__social, .header__inicio{
    @include showFrom(l);
  }
}
.header-bottom{ //Cuando esta pegado abajo

}
.header-nobottom{ //Cuando no esta pegado abajo

}
